
{% extends "base.html" %}

{% block title %}
掲示板のトップページ
{% endblock %}

{% block header %}
    {% if login_user_name %}
    掲示板のトップページ - {{login_user_name}}さん
    {% else %}
    掲示板のトップページ - ゲストさん
    {% endif %}
{% endblock %}

{% block contents %}
<section>
    <form action="{{url_for('index')}}" method="GET">
        <input type="search" name="search_word" value="{{search_word}}"></label>
        <input type="submit" value="検索">
    </form>
</section>
<section>
    {% for message in message_list %}
    <article>
        <p>{{message.id}} - {{message.user_name}}</p>
        <p>{{message.contents}}</p>
        <!-- 更新、削除リンク --- (※9) -->
        <p><a href="{{url_for('update', message_id=message.id)}}">更新</a></p>
        <p><a href="{{url_for('delete', message_id=message.id)}}">削除</a></p>
    </article>
    {% endfor %}
</section>
{% endblock %}
